.Container {
  text-align: center;
  margin-top: 20px !important;
  height: 495px;
  width: 500px;
  background-color: rgba(249, 247, 250, 0.749);
  margin: auto;
  padding-top: 20px;
  border-radius: 20px;
}
.details{
 margin-left: 41%;

}
.details p{
  color:rgba(12, 12, 143, 0.811)
}
.Card{

  /* background-color: rgba(255, 248, 248, 0.957); */
  border-radius: 10px;
  /* background-color: rgb(235, 227, 220); */
  text-align: center;
  margin: auto;
 padding-top: 80px;

}
.navbar{
  height: 55px;
  width: 100%;
  background-color: rgb(44, 5, 150);
  position: sticky;
  top:0px;
  color:white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

}
.head{
  margin: 0px;
  padding: 0px;
  margin-left: 3%;
  padding-top: 4px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  
}
.heading {
  color: rgba(240, 25, 25, 0.779);

}
.linkforLogout{
  text-decoration: none;
  color: white;
  margin-right: 20px;
  border-bottom: 2px solid white;
  
}
.link {
  text-decoration: none;
  color: rgba(240, 25, 25, 0.779);
  
}
.input {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  cursor: pointer;
  border-style: none;
  outline: none;
  border-bottom: 2px solid rgba(240, 25, 25, 0.779);
  width: 380px;
  height: 30px;
  background: transparent;
  
}
.btn {
  background-color: rgba(240, 25, 25, 0.779);
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 26px;
  border-style: none;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.btn:hover{
    background-color: rgba(175, 13, 13, 0.779);;
}
.error {
  color: red;
}
.btn:disabled {
  background-color: rgb(173, 173, 229);
}
