.Container {
  text-align: center;
  margin-top: 20px !important;
  height: 495px;
  width: 500px;
  background-color: rgba(249, 247, 250, 0.749);
  margin: auto;
  padding-top: 20px;
  border-radius: 20px;
}
.heading {
  color: rgba(240, 25, 25, 0.779);
}
.link {
  text-decoration: none;
  color: rgba(240, 25, 25, 0.779);
}
.input {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;

  border-style: none;
  outline: none;
  border-bottom: 2px solid rgba(240, 25, 25, 0.779);
  width: 380px;
  height: 30px;
  background: transparent;
  
}
.btn {
  background-color: rgba(240, 25, 25, 0.779);
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 26px;
  border-style: none;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.btn:hover{
    background-color: rgba(175, 13, 13, 0.779);;
}
.error {
  color: red;
}
.btn:disabled {
  background-color: rgb(173, 173, 229);
}
